[package]
authors = ["Vince Vasta <vince.vasta@gmail.com>"]
description = "A command line data manipulation tool inspired by the dplyr grammar."
edition = "2021"
license = "Apache-2.0"
name = "dply"
version = "0.1.0"

[dependencies]
anyhow = "1.0.69"
clap = { version = "4.1.4", features = ["derive"] }
comfy-table = "6.1.4"
nom = "7.1.3"
thiserror = "1.0.40"

[dependencies.polars]
version = "0.28.0"
features = ["dtype-full", "lazy", "parquet", "strings", "timezones"]

[dev-dependencies]
indoc = "2"
